@{
    ViewData["Title"] = "Students";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mb-4">
    <h3>Students</h3>

    <!-- Kendo Grid for Student Data -->
    <div id="studentGrid"></div>

    <!-- Kendo Notification -->
    <span id="notification"></span>

    <!-- Kendo Window Modal -->
    <div id="myKModal">
        <form id="studentForm"></form>
    </div>

@section Scripts {
    <script src="~/js/services/AStudent.service.js"></script>
}
