@{
    ViewData["Title"] = "Students";
    Layout = "~/Views/Shared/_MergeLayout.cshtml";
}

<div class="mb-4">
@* <h3>Students</h3>
    <button type="button" id="btnAdd" class="k-button k-button-lg k-button-solid-info"
        onclick="openAddForm()">✚</button>
<button type="button" id="btnExport" class="k-button k-button-lg k-button-solid-primary"
        onclick="openAddForm()">Export Data</button>
    <button type="button" id="btnExport" class="k-button k-button-lg k-button-solid-primary">
        Export Data
    </button> *@

    <!-- Kendo Grid for Student Data -->
    <div id="studentGrid"></div>
@* 
    <!-- Kendo Notification -->
    <span id="notification"></span>

    <!-- Kendo Window Modal -->
    <div id="myKModal">
        <form id="studentForm"></form>
    </div> *@

@section Scripts {
        <script src="~/js/services/ATeacher.service.js">
        </script>
}