@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div id="validation-success"></div>
<div class="container mt-5" style="border: 1px solid #ccc; width: 70%;padding:20px">
    <h3>Login</h3>
    <form id="loginform"></form>
</div>
@section Scripts {
    <script src="~/js/Login.js">
    </script>
}