@{
    ViewData["Title"] = "Regsiter Page";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div id="validation-success"></div>
<div class="container mt-5" style="border: 1px solid #ccc; width: 70%;padding:20px">
    <h3>Register</h3>
    <form id="registerform"></form>
</div>
@section Scripts {
    <script src="~/js/Register.js"></script>
}