<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - EduTrack</title>

    <link rel="stylesheet" href="~/css/Layout.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/kendo.default-v2.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/kendo/kendo.all.min.js"></script>
</head>

<body>

    @await Html.PartialAsync("Navbar")
    @await Html.PartialAsync("AdminSidebar.cshtml")


    <!-- Main Content -->
    <div class="content">
        <span id="notification"></span>
        @RenderBody()
    </div>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function toggleSidebar() {
            document.body.classList.toggle('sidebar-open');
        }
    </script>
</body>

</html>
