<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="~/images/icons.png" height="55px;" alt="EduTrack Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blogs</a>
                </li>

                <!-- Theme Switcher -->
                <li class="nav-item">
                    <button id="themeToggle" class="nav-link btn btn-sm btn-outline-light">🌙 Dark Mode</button>
                </li>


                <!-- User Profile Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="rounded" src="~/images/anonymous.png" alt="U" width="30px" /> User
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <div class="p-3 text-center">
                            <img src="~/images/anonymous.png" class="img img-fluid avatar" width="85px" alt="">
                            <p class="mt-2">Username</p>
                            <button class="btn btn-dark btn-sm w-100">Logout</button>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">User Dashboard</a>
                        <a class="dropdown-item" href="#">Settings</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
